@import "./bs";

@import "../../node_modules/@collagejs/core/dist/theme/theme.css" layer(CollageJS);

@layer Bootstrap, CollageJS;

pre {
    font-family: monospace;

    &.code-block {
        background-color: rgba(var(--cjs-black-rgb), 0.25);
        padding: 1em 2em;
        border-radius: var(--cjs-radius);
    }
}

.widget {
    background: var(--widget-bg);
    color: var(--widget-fg);

    &.widget-rounded {
        border-radius: var(--cjs-radius);
    }

    &.widget-top-rounded {
        border-top-left-radius: var(--cjs-radius);
        border-top-right-radius: var(--cjs-radius);
    }

    &.widget-bottom-rounded {
        border-bottom-left-radius: var(--cjs-radius);
        border-bottom-right-radius: var(--cjs-radius);
    }
}

hr {
    color: var(--cjs-primary-400);
}

.active {
    font-weight: bold;
    text-decoration: underline;
    color: var(--cjs-primary-400);
}
