.md-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    p {
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
        line-height: 1.7;
    }

    blockquote {
        & > p:first-child {
            margin-top: 0;
        }
        & > p:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        list-style: none;
        padding-left: 1em;
    }
}